@page
@model ContactModel
@{
    ViewData["Title"] = "Contact Us";
}

 <style>
body {
  background-image: url('pics/Background5.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>

<h1 style="color:SeaGreen; font-family:Lucida Handwriting;"> Contact Us </h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <textarea asp-for="Message" class="form-control"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" Value="Submit" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<hr />
@if (Model.Name != null)
{
    <p>Thank you for your message @Model.Name (@Model.Email): "@Model.Message" </p>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}