@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

 <style>
body {
  background-image: url('pics/Background3.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>  

<div class="text-center">
    <h1 style="font-size:80px; color:SeaGreen; font-family:Lucida Handwriting;" class="display-4">TeaLeaf Cosmetics</h1>
    <p style="font-size:25px; color:SeaGreen; font-family:Lucida Handwriting;"><i>Beauty is Confidence.</i></p>
</div>
